body {
    background-color:white;
}

a {
    color:#ff9472;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size:40px;
}

p{
    color:#ff9472;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size:20px; 
    margin-left:5px;
    margin-top:15px;
}

#navbar {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100px;
    background: linear-gradient(270deg, #f2709c, #ff9472);
    z-index:-1;
}

#addToCydia {
    color:white;
    position: relative;
    padding:0px;
    font-size:30px;
    display:flex;
    height:auto;
    width:5px;
    margin-top:27.5px;
    margin-left:27.5px;
    transition:0.5s;
    z-index:1;
}

#addToCydia:hover {
    opacity:0.7;
    cursor: pointer;
}

#titleNavBar {
    position:relative;
    text-align:center;
    z-index:0;
    color:white;
    width:100%;
    margin-top:-25px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#twitter {
    position: fixed;
    width:22.5px;
    margin-top:25px;
    right:27.5px;
    top:10px;
    transition:0.5s;
    z-index:1;
}

#twitter:hover {
    opacity:0.7;
    cursor: pointer;
}

#text {
    margin-top:120px;
    margin-left:20px;
}

#everyTweakCell {
    left:0;
}

#everyTweakCell2 {
    left:0;
    margin-top:100px;
}

.tweaksCell {
    position:absolute;
    border-radius:20px;
    background:#EEE;
    width:27.5%;
    height:auto;
    padding:15px;
    margin-top:20px;
    margin-left:20px;
    display:flex;
    transition:0.5s
}

.tweaksCell:hover {
    background:rgb(246, 246, 246);
    cursor: pointer;
}

.tweaksCellTitle {
    position:absolute;
    top:20px;
    left:80px;
    font-size:17.5px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

.tweaksCellDescription {
    position:absolute;
    top:42.5px;
    left:81px;
    font-size:12.5px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

#FoldyTweak {
    left:33%;
}

#UTrynaShutDownTweak {
    left:65%;
}

#TweakIcon {
    width: 50px;
    height: 50px;
    position:relative;
}

#contact {
    margin-top: 220px;
    padding-left:20px;
}

.SocialCell {
    position:absolute;
    margin-top:20px;
    margin-left:10px;
    width:60px;
    height:60px;
    border-radius:30px;
    background:#EEE;
    transition:0.5s;
}

.SocialCellIcon {
    width:50px;
    height:50px;
    border-radius:25px;
    margin-left:5px;
    margin-top:5px;
}

.SocialCell:hover {
    background:rgb(246, 246, 246);
    cursor: pointer;
}

#reddit {
    left:100px;
}

#github {
    left:175px;
}

#paypal {
    left:250px;
}