* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    color:#0000EE;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: hsl(0, 0%, 10%);
    background: hsl(0, 0%, 100%);
    color :#393939
  }
  
  .canvas-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
  }
  
  .canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    will-change: transform;
  }

  #mainContainer {
    width:100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .container {
    min-height: 375px;
    height:auto;
    flex: 1;
    min-width: 100px;
    border-radius: 15px;
    margin: 10px;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    backdrop-filter: blur(10px) saturate(200%);
    border: solid 0.5px #8d8c8c;
    background-color: rgba(255, 255, 255, 0.5);  
    justify-content: center;
  }

  .navBar {
    background-color:#d9d9d9;
    border : solid #8d8c8c 0.5px;
    opacity: 2;
    height:30px;
    border-radius:15px 15px 0px 0px;
    margin-top:-1px;
    margin-left:-1px;
    margin-right:-1px;
    display: flex;
    flex-wrap: nowrap;
  }

  .navButton {
    margin-top: 8.75px;
    margin-left: 8px;
    height:12.5px;
    width:12.5px;
    border-radius: 50%;
    border: 1px solid;
  }

  #closeButton {
    background-color: #FE5E5E; 
    border-color: #ff3d3d;
  }

  #reduceButton {
    background-color: #FBBD2C;
    border-color: #ffb300;
  }

  #expandButton {
    background-color: #31C546;
    border-color: #00c01d;
  }
  
  
  .container-small {
    flex-basis: calc(40% - 20px);
  }
  
  .container-big {
    flex-basis: calc(60% - 20px);
  }
  
  @media screen and (max-width: 1200px) {
    .container-small, .container-big {
      flex-basis: calc(90% - 20px);
    }
  }
  
  @media screen and (max-width: 500px) {
    .container-small, .container-big {
      flex-basis: calc(100% - 20px);
    }
    #formationScolaireCompetences {
      text-align: center;
      padding-top:20px;
    }
  }

  .containerContent {
    display:flex;
    position: relative;
    width:100%;
    height: auto;
    min-height:355px;
    padding:30px;
    /* background-color: white;  */
    justify-content: center; 
  }

  #info {
    flex-flow: row wrap;
    align-items: center;
  }

  #projets {
    flex-flow: column wrap;
  }

  #expPro {
    flex-flow: column wrap;
  }

  #formationScolaireCompetences {
    flex:1;
  }

  #pictureNameContainer {
    margin-top: -20px;
  } 
  
  #nomPrenom {
    font-weight: bold;
    text-align:center;
  }

  #dateDeNaissance {
    padding-top: 5px;
    text-align: center;
  }
  
  #picture {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    background-image: url();
    border: solid 0.5px #8d8c8c;
    margin:20px;
  }

  .tweakImages {
      display: flex;
      align-items: center;
  }

  .tweakImages p {
      margin-right: 10px;
  }

  .tweakIcons {
    width:25px;
    margin-left:5px;
    border-radius: 5px;
  }

  .title {
    font-weight: bold;
    font-size: 36px;
  }

  #projetsContainer {
    padding: 10px;
    line-height: 25px;
  }

  #projetsContainer li {
    padding-bottom: 10px;
  }

  #expProContainer {
    padding: 10px;
    line-height: 25px;
  }

  #expProContainer li {
    padding-bottom: 10px;
  }

  #outils {
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  #container-circle {
    display: flex;
    width:250px;
    height: 100%;
    /* background-color: red; */
  }

  #container-circle-info {
    width:300px;
    height:100%;
    margin-left:20px;
  }

  .circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  .square {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #d9d9d9;
      border : solid #8d8c8c 0.5px;
      border-radius:15px;
      top: 50%;
      left: 50%;
      opacity: 1;
      transition: all 0.5s ease;
      cursor: pointer;
  }


  #html-css-js-img {
    content: url("img/html-css-js-light.png");
  }

  #Text {
    text-align: center;
  }

  .selected {
    top: calc(50% - 25px) !important; /* la moitié de la largeur de l'icône (50px) */
    left: calc(50% - 25px) !important; /* la moitié de la hauteur de l'icône (50px) */
    transform: none !important;
    transition: all 0.5s ease;
  }

  
  @media (prefers-color-scheme: dark) {
    .container {
      background-color: rgba(0, 0, 0, 0.5);
      border: solid 0.5px #1c1c1c;
      color: white;
    }

    .navBar {
      background-color:#353535;
      border : solid #1c1c1c 0.5px;
    }

    #picture {
      border: solid 0.5px #1c1c1c;
    }

    a {
      color:#48cbff;
    }

    .square {
      background-color: #353535;
      border : solid #1c1c1c 0.5px;
    }

    #html-css-js-img {
      content: url("img/html-css-js-dark.png");
    }
  }
  