.osbigsur {
  border: none;
  background: white;
  border-radius: 7.5px;
  transition: 0.3s;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}

.osbigsur:hover {
  background: #ebebeb;
}

.osbigsur:active {
  background: #d9d9d9;
}

