body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
}

form {
    background: white;
    padding: 0px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 300px;
    padding-right: 20px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    padding-top: 10px;
    margin-left: 2.5px;
}

#title {
    width: 100%;
    /*background-color: red;*/
    max-width: 300px;
    padding: 20px;
    text-align:center;
}

#logo {
    width:100px;
    position: relative;
}

/* Styles généraux pour les boutons */
.btn {
    box-sizing: border-box;
    -webkit-appearance: none; /* Safari */
       -moz-appearance: none; /* Firefox */
            appearance: none;
    background-color: transparent;
    border: 2px solid;
    border-radius: 4px;
    cursor: pointer;
    -webkit-align-self: center; /* Safari */
        -ms-flex-item-align: center; /* IE */
            align-self: center;
    font-size: 1rem;
    line-height: 1;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: white;
}

/* Styles spécifiques pour le bouton "Atlas" */
.button--atlas > span {
    display: inline-block;
}

.button--atlas:hover > span {
    opacity: 0;
}

/* Conteneur pour le texte déroulant */
.marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

/* Animation pour le texte déroulant */
.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    --offset: 1rem;
    --move-initial: calc(-0% + var(--offset));
    --move-final: calc(-20% + var(--offset));
    -webkit-transform: translate3d(var(--move-initial), 0, 0); /* Safari */
    transform: translate3d(var(--move-initial), 0, 0);
    -webkit-animation: marquee 1s linear infinite; /* Safari */
    animation: marquee 1s linear infinite;
    -webkit-animation-play-state: running; /* Safari */
    animation-play-state: running;
    opacity: 1;
}

.marquee span {
    text-align: center;
    white-space: nowrap;
    font-style: italic;
    padding: 1rem 0.5rem;
}

/* Animation Keyframes avec préfixes */
@-webkit-keyframes marquee { /* Safari */
    0% {
        -webkit-transform: translate3d(var(--move-initial), 0, 0); /* Safari */
    }
    100% {
        -webkit-transform: translate3d(var(--move-final), 0, 0); /* Safari */
    }
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

.content__item {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	counter-increment: itemcounter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	pointer-events: none;
}

.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

