body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 300px;
    padding-right: 20px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    padding-top: 10px;
    margin-left: 5px;
}

#title {
    width: 100%;

    max-width: 300px;
    padding: 20px;
    text-align:center;
}

#logo {
    width:100px;
    position: relative;
}

#SHAMPOUINEUSE {
    color: #f8c52e;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 4px;
    color: #cda941;
    cursor: pointer;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    line-height: 1;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}

.animatedButton {
    border-color: #f8c52e;
    color: #fff;
    box-shadow: 0 0 40px 40px #f8c52e inset, 0 0 0 0 #f8c52e;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.animatedButton:hover {
    box-shadow: 0 0 10px 0 #f8c52e inset, 0 0 10px 2px #f8c52e;
    color:#f8c52e;
}


